.video-table {
    width: 100%;
    border-collapse: collapse;
}

.video-table th, .video-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.video-table tr.selected {
    background-color: #d3f4d3; /* Светло-зеленый для привязанных видео */
}

.video-table tr:hover {
    background-color: #f0f0f0; /* Серый при наведении */
}

.video-table button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.video-table tbody tr {
    cursor: pointer;
}