<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<style>
    .selectedCatitem {
        background-color: rgb(231, 125, 59);
    }
</style>
<div class="row">

    <div class="col-md-6">
        <h3>Выберите позиции</h3>
        <div class="input-group mb-3">
            <input type="text" ng-model="filterText" class="form-control" placeholder="Фильтр"
                ng-change="debouncedLoadData()">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" ng-click="showCatSelectModal()">
                <i class="bi bi-list"></i> <!-- Иконка выбора категории, используйте нужную иконку -->
            </button>
        </div>
        <div class="scrollable-list">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in catItems | orderBy:customComparator"
                    ng-click="selectItem(item)" ng-class="{'selectedCatitem': item.id==selectedSingleItemId }">
                    <img width="100" src="{{item.image}}">
                    {{item.name}} - id:{{item.id}}
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <cat-item-list selected-items="selectedItems" on-deselect="deselectItem(item)"
            show-cats="showCats"></cat-item-list>

    </div>

    <!-- <div class="col-md-6">
        <h3>Выбрано </h3>
        <div>Сообщения:{{msg}}</div>
        <div ng-if="selectedItems.length === 0" class="alert alert-danger">Ничего не выбрано</div>
        <div class="scrollable-list">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in selectedItems" ng-click="deselectItem(item)">
                    <img width=100 src="{{item.image}}">
                    {{item.name}} - id:{{item.id}}
                </li>
            </ul>
        </div>
    </div> -->


</div>



<modal visible='modalCatFilter'>
    <category-select selected-categories='filterCategories'
        selected-call-back="categoriesFilterCallBack(data)"></category-select>
</modal>