<div flow-init="{target: '/contentTask/taskPerform/upload/accessCode/' + accessCode}"
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
    <div class="drop" flow-drop="" ng-class="dropClass">
        <span class="btn btn-default" flow-btn="">Upload Image<input type="file" multiple="multiple"
                                                                     style="visibility: hidden; position: absolute;"></span>
        <span class="btn btn-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images<input
                type="file" multiple="multiple" webkitdirectory="webkitdirectory"
                style="visibility: hidden; position: absolute;"></span>
        <b>OR</b>
        Drag And Drop your images here
    </div>

    <br>

    <div>

        <!-- ngRepeat: file in $flow.files -->
        <div ng-repeat="file in $flow.files" class="gallery-box" style="width:10%;display: inline-block;margin:0 10px">
            <span class="title">{{file.name}}</span>
            <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="file"/>
            </div>

            <div class="progress progress-striped
            active">
                <div class="bar"
                     ng-style="{width: (file.progress() * 100) + '%'}"></div>
            </div>

            <div class="btn-group">
                <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
                    Remove
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>



