<div class="pagination">
    <div paging
         page="activePage.mistake"
         page-size="20"
         total="recordsCount.mistake"
         paging-action="setPage(page,'mistake')">
    </div>

</div>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>id</td>
        <td>Название</td>
        <td></td>
    </tr>
    <!--                <tr>-->
    <!--                    <td><input type="text" class="span2 search-query ng-pristine ng-untouched ng-valid ng-empty" style="width: 200px;" ng-model="searchId"></td>-->
    <!--                    <td> <input type="text" class="span2 search-query ng-pristine ng-untouched ng-valid ng-empty" style="width: 200px;" ng-model="searchTitle"></td>-->
    <!--                    <td><button type="submit" class="btn" ng-click="makeSearch()">Search</button></td>-->
    <!--                </tr>-->
    <!-- ngRepeat: (index,item) in resultItems -->
    <tr ng-repeat="(index,item) in resultItems.mistake">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td><a target="_blank" href="/contentTask/taskPerform/edit/accessCode/{{accessCode}}/id/{{item.subTaskId}}">Исправить</a></td>
    </tr>


    </tbody>

</table>
<div class="pagination">
    <div paging
         page="activePage.mistake"
         page-size="20"
         total="recordsCount.mistake"
         paging-action="setPage(page,'mistake')">
    </div>

</div>