<h1>Правки</h1>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li ng-class="{active:reviewTab==item.name}" ng-click="setActiveReviewTab(item.name)"
            id="reviewTab_{{item.name}}" ng-repeat="(index,item) in reviewData">
            <a href="#{{item.name}}" data-toggle="tab"><i class="icon-eye-open" style="display:none"></i> {{item.name}}</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane span4" ng-class="{active:reviewTab==item.name}" style="margin-left: 0;" id="display_{{item.name}}"
             ng-repeat="(index,item) in reviewData">
            <div class="" ng-bind-html="trustedHTML[index]"></div>

        </div>
        <div class="span6">

            <div class="row" style="border-bottom: 1px dashed grey">
                <h4>Описание правок</h4>
                <div ng-if="!baseText.edit" ng-click="baseText.edit=(true && reviewEdit)">
                    {{baseText.text}}
                    <span ng-if="baseText.text.length==0" ng-show="reviewEdit">Нажмите для редактирования текста!</span>
                    <span ng-if="baseText.text.length==0" ng-show="!reviewEdit">Описания нет!</span>
                </div>
                <div ng-if="baseText.edit">
                    <span class="icon-off" style="cursor: pointer" ng-click="baseText.edit=false"></span>
                    <textarea name="" cols="60" rows="10" style="width: 400px" ng-model="baseText.text"></textarea>
                </div>

            </div>
            <br>
            <ul><li ng-repeat="(index,item) in mistakesData" data-index="{{item.id}}"
                 ng-mouseover="mistakeHoverIn($event,index)" ng-mouseleave="mistakeHoverOut($event,index)">
                <div style="border-bottom: 1px dashed grey">
                    <div style="font-size:16px"><strong> Правка {{index+1}}</strong>
                        <span class="icon-remove" style="cursor: pointer" ng-click="removeReview(index)" ng-show="reviewEdit"></span>
                    </div>

                    <div ng-if="!item.edit" ng-click="item.edit=(true && reviewEdit)" style="background-color: yellow;color:black;">
                        {{item.text}} <span ng-if="item.text.length==0" ng-show="reviewEdit">Нажмите для редактирования текста!</span>
                        <span ng-if="item.text.length==0" ng-show="!reviewEdit">Этой правке не добавили пометку!</span>
                    </div>

                    <div ng-if="item.edit">
                        <span class="icon-off" style="cursor: pointer" ng-click="item.edit=false"></span>
                        <textarea name="" id="" cols="60" rows="10" style="width: 400px"
                                  ng-model="item.text"></textarea>
                    </div>
                </div>
            </li></ul>
            <br>
            <button ng-click="markMistake()" class="btn-mini" ng-show="reviewEdit">Добавить правку</button>
            <button ng-click="saveReviewData()" class="btn-mini btn-primary" ng-show="reviewEdit">{{btnTextReviewSave}}</button>
            <button class="btn-mini btn-warning" ng-click="sendBackToWork()" ng-show="reviewEdit">{{btnTextReviewReturn}}</button>
            <button class="btn-mini btn-success" ng-click="markAsDone()" ng-show="reviewEdit">{{btnTextMarkAsDone}}</button>
        </div>
    </div>
</div>